@charset "UTF-8"; 

body 
{ 
    color: white; 
    font-family: Verdana, Geneva, Arial, sans-serif;
    padding:0px; 
    margin:0px; 
} 

h1,h2,h3,h4,h5,h6,p,li 
{ 
    margin-left:15px; 
    margin-top:0px; 
} 

#wrapper 
{
    width: 100%; 
    height: 850px; 
    margin-left: auto; 
    margin-right: auto; 
    background-color:DarkGrey; 
} 

#right-column 
{ 
    float: none; 
    height: 500px; 
    background-color: DarkOrange; 
} 

#left-column 
{ 
    float: none; 
    height:200px; 
    background-color: darkgrey;
} 

#footer 
{ 
    height:80px; 
    background-color:black; 
} 

#banner
{ 
    height:80px; 
    background-color:black; 
} 

.box 
{ 
    width: 40%; 
    height: 18%;
    min-height:50px; 
    float: left; 
    background-color: grey; 
    margin: 15px; 
    opacity:1;
} 

.button 
{ 
    font-size:small; 
    text-decoration:none; 
    background-color:LightBlue; 
    display:block; width:25%;float:left; 
    padding:8px; 
    margin:5px;
    border-radius:15px; 
    box-shadow:5px 5px 3px gray; 
} 

.button:hover 
{ 
    box-shadow:5px 5px 3px black; 
} 

.clear
{ 
    clear: both; 
}